.main{
    background-color: var(--background-main-color);
    .title_content{
        color: var(--main-color);
    }
    .img_wrap , .information_wrap {
        margin-right: 5px;
        padding: 20px;
        margin-top: 10px;
        background-color: #fff;
        border-radius: var(--boder-radius);
    }
    .img_wrap{
       
        .img_item{
           max-width: 100px;
           
        }
        .btnMoreImg{
            position: relative;
            max-width: 160px;
            margin-right: 0px;
            margin-top: 20px;
            color: var(--text-nav-color);
            background-color: var( --admin-btn-color) ;
            border-radius: var(--boder-radius);
            line-height: 1rem;
        }
    }
    .information_wrap{
       
    }
    .process_list{
        margin-left: 5px;
        margin-top: 10px;
        height: 100px;
        background-color: #fff;
        border-radius: var(--boder-radius);
    }
    .createbtn{
        max-width: 160px;
        color: var(--text-nav-color);
        margin-top: 10px;
        background-color: var( --admin-btn-color) ;
        border-radius: var(--boder-radius);
    }
    .createbtn:hover{
        color: var(--text-nav-color);
        opacity: 0.9;
    }
}
.Inputfocus:focus{
    color: #495057;
    background-color: #fff;
    border-color: #c1c9d0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}
.Inputfocus{
    border-top: 1px ;
    width: 100%;
    line-height: 2.5rem;
    color: #495057;
    background-color: #fff;
    border-color: #c1c9d0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}