.wrapAbout {
    padding-top: 100px ;
    .whyUs{
        background-color: #F9F9F9 ;
        // Tiêu đề
        
    }
    .title {
        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: -10px;
            height: 4px;
            border-radius:4px;
            width: 60%;
            background-color: var(--love-color-5);
            left: 50%;
            transform: translateX(-50%)
        }
    }
}