

#admin-navbar #nav-dropdown {
    color: #ccc;
    &:active, &:hover, &:focus {
        text-decoration: none;
    }
}
#admin-navbar .admin-nav-link{
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: color 0.5s, transform 0.3s ease-out;
    }

    &:hover,
    &:hover::before {
    transform-origin: left top ;
    transform: scale(1, 1) ;
    text-decoration: none !important;
    }

    &.active {
        text-decoration: none ;
        color: #fff !important;
    }
 }
 .adminNavbar{
    display: flex;
    
    .navbarWrap{
        padding: 0px 6px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .nav{
            flex: 4;
            display: flex;
            justify-content: center;
        }
        .DropAvatar{
            display: flex;
            flex-direction: column;
            justify-content: end;
            text-align: end;
            .dropEmail{
                color: var(--text-nav-hover);
                padding: 5px 20px 0px 20px;
                margin-bottom: -5px;
            }
            .DropDonor{
                padding-top: 0px;
            }
        }
        @media(max-width:1200px){
            .dropEmail{
                display: none;
            }
        }

    }
}
@media (min-width:758px) {
    .adminNavbar{
        --bs-gutter-x: 0rem !important;
    }
}