
:root{
    --background-main-color:#E5E5E5;
    --main-color:#3E4851;
    --text-nav-color:#ffff;
    --text-nav-hover:#cccc;

    --status-waiting-color:#FA6767;
    --status-waiting-background:rgba(250, 0, 0, 0.2);
    --status-doing-color:rgb(250, 104, 0);
    --status-doing-background:rgba(250, 104, 0,0.2);
    --status-done-color:rgb(66, 209, 157);
    --status-done-background:rgba(66, 209, 157,0.2);

    --admin-btn-color:#3758FA;
    --admin-background:#FAFBFE;

    --boder-radius:5px;

    /* givetrack color  */
    --givetrack-color: #6fcf97;
}


/* các nút cho các trạng thái  */

/* đang chờ */
.waitingStatus ,.doingStatus ,.doneStatus{
    border-radius: var(--boder-radius);
    text-align: center;
    display: inline-block;
    line-height: 1.5rem;
    width: 134px;
}
.waitingStatus{
    background-color: var( --status-waiting-background) !important;
    color: var(--status-waiting-color);
}
.waitingStatus:hover .changeStatus{
    display: block !important;
}
.doingStatus{
    background-color: var(--status-doing-background) !important;
    color: var(--status-doing-color);
}
.doneStatus{
    background-color: var(--status-done-background) !important;
    color: var(--status-done-color);
}
/* đang thực thi */
/* đã hoàng thành */

html{
    font-size: 1rem;
    font-family: Roboto, sans-serif !important;
    box-sizing: border-box;
}  
body{
    font-family: Roboto, sans-serif !important;
} 
/* navbar client */

.css-1s2u09g-control{
    box-shadow: none;
}
/* input */
.input{
    border-radius:var(--boder-radius) ;
    border: none;
}
.input:focus{
    outline: none;
}
.btn.btnPri{
    background-color: var(--admin-btn-color) ;
    color: var(--text-nav-color) ;
}
.css-1okebmr-indicatorSeparator{
    background-color: transparent !important;
}
.dropdonor .dropdown-menu{
   left: 40% !important;
    right: 0px;
}
.dropdonor .dropdown-item{
    text-decoration:none !important;
}

/* // DateRangePicker */
/* .projectDaterang{
    position: relative;
}
.rs-picker-daterange-panel
{
    left: 340px !important;
    top: 500px !important;
} */
.rs-picker-daterange-menu{
    left: 350px !important;
    top: 300px !important;
}
.rs-picker-toggle-read-only{
    position: relative;
    width: 100% !important;
   
} 
.rs-picker-toggle{
    margin-top: 5px;
    height: 50px;
}
.rs-picker-toggle-value{
    line-height: 2rem;
    width: 100%;
    text-align: start;
    font-size: 0.875rem;
    color: #333 !important;
}


/* Thanh progress  */
.progress-bar {
    background-color: #6fcf97 !important;
}

.fillerBlock{
    display: flex;
    flex-direction: column;
}
/* // project admin */
.project-admin .dropdown-toggle::after{
    content: '';
    display: none;
}
.css-26l3qy-menu{
    z-index: 10 !important;
}
/* add project */
.addprojectmain .Add_category__ywTfX{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.addprojectmain .css-1rhbuit-multiValue{
 
}
.add-project_editor .ck-editor__main{
    height:250px ;
}   
.ck-editor__main .ck-editor__editable_inline{
    height: 100%;
}
.datepicker-addProject .rs-picker-toggle-textbox.rs-picker-toggle-read-only
{
    padding: 10px !important;
    
}
.datepicker-addProject .rs-picker-toggle-value{
    
    display: block;
    text-align: center;
    width: 100% !important;
}
.datepicker-addProject .rs-picker-toggle-clean.rs-btn-close{
    display: none;
}
.datepicker-addProject .rs-picker-toggle-caret.rs-icon{
    display: none;
}
/* bỏ mục thêm ảnh */
.removeImg .ck-file-dialog-button{
    display: none !important;
}


