.headerTutorial {
    background-color: #F1F6FF;
}
.circle {
    border: 2px solid  var(--love-color-5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: var(--love-color-5);
    line-height: 24px;
}
.description{
    text-align:justify;
}